.color-orange {
  background: #FF7A00;
}

.color-pink {
  background: #FF5EB3;
}

.color-purple {
  background: #6E52FF;
}

.color-violet {
  background: #9327FF;
}

.color-cyan {
  background: #00BEE8;
}

.color-turquoise {
  background: #1FD7C1;
}

.color-coral {
  background: #FF745E;
}

.color-peach {
  background: #FFA35E;
}

.color-light-pink {
  background: #FC71FF;
}

.color-yellow {
  background: #FFC701;
}

.color-blue {
  background: #0038FF;
}

.color-lime-green {
  background: #C3FF2B;
}

.color-light-yellow {
  background: #FFE62B;
}

.color-red {
  background: #FF4646;
}

.color-goldenrod {
  background: #FFBB2B;
}
