* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

:root {
    --white-color: #ffffff;
    --darkblue-light-color: #2A3647;
    --lightblue-color: #29ABE2;
    --darkblue-color: #091931;
    --low-color: #7AE229;
    --medium-color: #FF7A00;
    --urgent-color: #FF3D00;
    --story-color: #0038ff;
    --technical-color: #1fd7c1;
    --sidebar-color: #cdcdcd;
    --light-grey-color: #f6f7f8;
    --medium-grey-color: #e7e7e7;
    --dark-grey-color: #a8a8a8;
    --placeholder-grey-color: #d1d1d1;
    --subtitle-color: #2a3647;
    --required-color: #ff8190;
  }
  
/* From Checklist */
button {
    cursor: pointer;
}

button:hover {
    transition: ease-in-out 150ms;
}

button:active {
    transition: ease-in-out 150ms;
}

button, input {
    border: unset;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


a {
  text-decoration: none;
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.d-none {
  display: none;
}

.d-block{
  display: block;
}

.c-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.d-flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-flex-c-c-fs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
