body {
  background-color: var(--light-grey-color);
}

.main-header {
  display: flex;
  flex-direction: row;
  padding-left: 128px;
  padding-top: 120px;
}

.main-header h1 {
  font-size: 61px;
  font-weight: bold;
  padding-left: 12px;
  padding-right: 12px;
  border-right: 2px solid blue;
  border-color: var(--lightblue-color);
}

.main-header span {
  font-size: 27px;
  align-self: center;
  color: var(--dark-grey-color);
  padding-left: 12px;
  padding-right: 12px;
}

.icon-container {
  background-color: var(--darkblue-light-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary-main{
    padding-left: 128px;
    padding-top: 64px;

}

.summary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 200px;
  height: 200px;
  background-color: var(--white-color);
  border-radius: 30px;
}

.summary-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--darkblue-light-color);
}

.task-count {
  font-size: 64px;
  font-weight: bold;
  color: var(--darkblue-light-color);
}
